body {
    background-color: darkorange;
    font-family:monospace;
    margin:0%;
}

.site-title {
    background-color: darkorange;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1 {
    color: darkslategray;
    text-align: center;
    padding: 0;
    margin: .25em;
    font-family:monospace;
    font-size: 3em;
    align-self: center;
}

.cash {
    color:steelblue;
}

.fixed {
    position: sticky;
    overflow: hidden;
    top: 0;
    width: 100%;
}

/* SORT DIV AND CONTENTS STYLING */

.sort {
    background-color:rgb(96, 192, 0);
    padding: .5%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 1.5em;
    font-weight: 600;
    color:darkslategrey;
}

.list {
    display: flex;
    justify-content: center;
    padding: .25%;
}

.filter {
    display: flex;
    justify-content: center;
    padding: .25%;
    flex-direction: column;
}

.simpleflex {
    display: flex;
}

.colflex {
    display: flex;
    flex-direction: column;
    padding: .25em;
}

.opt-names {
    text-align: center;
}

.options {
    height:1.8em;
    background-color: rgb(140, 190, 90);
    border-color: rgb(48, 65, 15);
    color:darkslategrey;
    font-family: monospace;
    font-weight: bolder;
    font-size: .8em;
}

/* MAIN CONTENTS STYLING */

.main {
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    padding: .5em;
}

.item {
    font-weight:600;
    color:rgb(26, 54, 54);
    background-color:steelblue;
    padding: .5em;
    margin: .5em;
    border-radius: .5em;
}

.title {
    color: rgb(20, 23, 34);
    font-family: monospace;
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    padding-bottom: .25em;
}

.object {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: .25%;
}

.imagediv {
    display: flex;
    justify-content: center;
    padding-right: 2.5%;
    padding-left: 5%;

}

.info {
    padding-left: 1em;
    font-family:sans-serif;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
}

.credit {
    margin: 1em;
    text-align: center;
}





